# To use this config, the firmware should be compiled for the
# SKR3 mcu has a stm32h723xx 
# 128KiB bootloader
# 25Kib clock speed
# Communications Interface (USB (on PA11/PA12))
# Quit and Yes
# Make clean
# Make
# A "klipper.bin" is generated here "/home/pi/klipper/out"
# Copy file "klipper.bin" to a sd card and rename "klipper.bin" to "firmware.bin"
# With the MCU board powered off insert the sd card and power on.
# SKR3 status leds should flash (if there are any) and then stop
# Remove sd card and check if a successful flash has occured. The "firmware.bin" has been renamed "FIRMWARE.CUR"

########################################
#SKR 3 MCU
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_28001E001651313238353730-if00
#/dev/serial/by-path/platform-fd500000.pcie-pci-0000:01:00.0-usb-0:1.4:1.0
#serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_2A0026000243534133343520-if00
## NOTE: Obtain definition by "ls -l /dev/serial/by-id/" or "ls -l /dev/serial/by-path/" then unplug to verify
restart_method: command

[temperature_sensor SKR3_MCU_Temp]
sensor_type: temperature_mcu
max_temp: 80

#########################################
[BDsensor] 
sda_pin: PC13 #PE5 #PB1 # example of connecting to main board Creality V4.2.7
scl_pin: PE5 #PC13  #PB0 # example of connecting to main board Creality V4.2.7
#scl_pin: MKS_THR:gpio20 # example of connecting to CAN module like MKS THR42 
#sda_pin: MKS_THR:gpio11 # example of connecting to CAN module like MKS THR42 
delay: 20 # 20us per pulse, this value should be >=20 but must be below 50
z_offset:0 # this `z_offset` must be set to 0. 
z_adjust: 0 #Default 0 - z axis adjustment, replace the z_offset function. within -0.3 to 0.3mm
x_offset: -39.50 #probe position relative to nozzle
y_offset: 0
#no_stop_probe: # enable this for fast probe, the toolhead will not stop at the probe point.
position_endstop: 0.9 # the Z axis will stop at this position (mm) while homing z, recommend value is 0.4~1.0
#speed:0.8 # this speed only works for the z tilt and PROBE_ACCURACY command.
collision_homing:1 #  set it 1 to enable homing with nozzle collision sensing.
collision_calibrate:1 # set it 1 to enable auto calibrate BDsensor with nozzle collision sensing.

#Commands
#BDSENSOR_VERSION          //replace M102 S-1
#BDSENSOR_CALIBRATE        //replace M102 S-6
#BDSENSOR_READ_CALIBRATION //replace M102 S-5
#BDSENSOR_DISTANCE         //replace M102 S-2
#BDSENSOR_SET              // set value, now only for setting z_adjust, for example BDSENSOR_SET z_adjust=0.1
