#Include Other Printer Settings
########################################
#[include adxl.cfg]
#[include clean_nozzle.cfg]

[include fans_toolhead.cfg]

[include heat_soak.cfg]
[include KAMP_Settings.cfg]

[include macros.cfg]
[include mainsail.cfg]

[include mcu_expander.cfg]
[include mcu_rpi.cfg]
[include mcu_skr3.cfg]

[include motion_filament.cfg]
[include nozzle_brush.cfg]

[include print_end.cfg]
[include print_start.cfg]

[include timeout.cfg]

#########################################
[force_move]
enable_force_move: True

[exclude_object]

#Default Printer Settings
########################################
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1500  #2500
#max_accel_to_decel: 650
max_z_velocity: 15
max_z_accel: 50
square_corner_velocity: 5.0

#########################################
[BDsensor] 
sda_pin: PC13 #PE5 #PB1 # example of connecting to main board Creality V4.2.7
scl_pin: PE5 #PC13  #PB0 # example of connecting to main board Creality V4.2.7
#scl_pin: MKS_THR:gpio20 # example of connecting to CAN module like MKS THR42 
#sda_pin: MKS_THR:gpio11 # example of connecting to CAN module like MKS THR42 
delay: 20 # 20us per pulse, this value should be >=20 but must be below 50
z_offset:0 # this `z_offset` must be set to 0. 
z_adjust: 0 #Default 0 - z axis adjustment, replace the z_offset function. within -0.3 to 0.3mm
x_offset: -39.50 #probe position relative to nozzle
y_offset: 0
#no_stop_probe: # enable this for fast probe, the toolhead will not stop at the probe point.
position_endstop: 0.8 # the Z axis will stop at this position (mm) while homing z, recommend value is 0.4~1.0
#speed:0.8 # this speed only works for the z tilt and PROBE_ACCURACY command.
collision_homing:1 #  set it 1 to enable homing with nozzle collision sensing.
collision_calibrate:1 # set it 1 to enable auto calibrate BDsensor with nozzle collision sensing.

#Commands
#BDSENSOR_VERSION          //replace M102 S-1
#BDSENSOR_CALIBRATE        //replace M102 S-6
#BDSENSOR_READ_CALIBRATION //replace M102 S-5
#BDSENSOR_DISTANCE         //replace M102 S-2
#BDSENSOR_SET              // set value, now only for setting z_adjust, for example BDSENSOR_SET z_adjust=0.1

########################################
[safe_z_home]
home_xy_position: 156.5,113.25
speed: 75
z_hop: 6                # Move up 10mm
z_hop_speed: 10 #7
move_to_previous: False

########################################
[bed_mesh]
speed: 60
horizontal_move_z: 1    #0.7~1.0mm is recommended
mesh_min: 19,24       #mesh_min and mesh_max are both relative to the probe. 
mesh_max: 222,226.5   #mesh_min and mesh_max are both relative to the probe. 
probe_count: 20,20        
algorithm: bicubic    #this should be bicubic if the bed mesh points count is > 6*6
fade_start: 1
fade_end: 10
fade_target: 0
zero_reference_position: 156.5,113.25 #set to home_xy_position from safe_z_home setting.

########################################
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True  ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 117   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 220   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : ""    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
##                                   Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
## !!! Custom macros, please use with care and review the section of the corresponding macro.
## These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
## Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:

#Printer settings
#######################################
[stepper_x]
enable_pin: !PD6
step_pin: PD4
dir_pin: PD3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: -3.5  #-6.0
position_min: -3.5  #-6.0
position_max: 262.5
homing_speed: 75
second_homing_speed: 10

[tmc2209 stepper_x]
uart_pin: PD5
run_current: 0.65
hold_current: 0.40
sense_resistor: 0.110
stealthchop_threshold: 999999

########################################
[stepper_y]
enable_pin: !PD1
step_pin: PA15
dir_pin: PA8
microsteps: 16
rotation_distance: 40
endstop_pin: PC3
position_endstop: -4.0  #-6.5
position_min: -4.0  #-6.5
position_max: 226.5
homing_speed: 75
second_homing_speed: 10

[tmc2209 stepper_y]
uart_pin: PD0
run_current: 0.65
hold_current: 0.40
sense_resistor: 0.110
stealthchop_threshold: 999999

########################################
[stepper_z]
enable_pin: !PE0
step_pin: PE2
dir_pin: !PE3
microsteps: 32
rotation_distance: 8

endstop_pin: probe:z_virtual_endstop  #^PC0
#position_endstop: 0.0
position_max: 230
position_min: -5.0

homing_speed: 5
second_homing_speed: 0.8
homing_retract_dist: 6
homing_retract_speed: 10

########################################
#BDsensor Stepper_z Settings
#endstop_pin: probe:z_virtual_endstop
##position_endstop: 0.5
#homing_speed: 8
#second_homing_speed: 0.8

[tmc2209 stepper_z]
uart_pin: PE1
run_current: 0.65
hold_current: 0.40
sense_resistor: 0.110
stealthchop_threshold: 999999

########################################
[extruder]
enable_pin: !PC7
step_pin: PD15
dir_pin: !PD14
microsteps: 16
rotation_distance: 23.053569915
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 100.0
max_extrude_cross_section: 5
heater_pin: PB3  #SKR3 HE0

sensor_type: EPCOS 100K B57560G104F  #Generic 3950
sensor_pin: PA2  #SKR3 TH0
#control = pid
#pid_kp = 73.025
#pid_ki = 1.570
#pid_kd = 848.913
min_temp: 0  #5
max_temp: 250

pressure_advance: 0.055
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]  
uart_pin: PC6
run_current: 0.55
hold_current: 0.40
sense_resistor: 0.110
stealthchop_threshold: 999999

########################################
[firmware_retraction]
retract_length: 2.4
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 45
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 20
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

###################################
[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1  #SKR3 TB
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0  #5
max_temp: 100

########################################
[screws_tilt_adjust]
screw1: 71,34         #Nozzle position not the probe
screw1_name: front left screw
screw2: 241,34
screw2_name: front right screw
screw3: 241,206
screw3_name: rear right screw
screw4: 71,206
screw4_name: rear left screw
horizontal_move_z: 6
speed: 120
screw_thread: CW-M4

########################################
[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

########################################
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 31.631
#*# pid_ki = 2.109
#*# pid_kd = 118.617
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.347
#*# pid_ki = 1.260
#*# pid_kd = 954.392
#*#
